{% extends 'layout.html.twig' %}

{% block body %}

    {{ include('_search_form.html.twig') }}

    <h3 class="text-center mb-5">
        {% for _category in categories %}
            <a class="badge badge-{{ category.id == _category.id ? 'primary' : 'dark' }} mr-1 ml-1 rounded" href="{{ path('app_category_view', { 'slug': _category.slug }) }}">
                <i class="fas fa-fw fa-{{ _category.icon }}"></i>
                {{ _category.name }}
            </a>
        {% endfor %}
    </h3>

    {% if tutorials|length > 0 %}
        {{ include('_tutorials_list.html.twig', { 'from_category': category.slug }) }}
    {% else %}
        <div class="alert alert-info">{{ 'category.view.no_tutorials'|trans }}</div>
    {% endif %}

{% endblock body %}
