{% extends 'layout.html.twig' %}
{% set can_edit = is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and not tutorial.locked) %}

{% block body %}

    <p>
        {% if from_search is not empty %}
            <a href="{{ path('app_default_search', { 'q': from_search }) }}" class="btn btn-secondary">
                <i class="fas fa-fw fa-arrow-left"></i>
                {{ from_search }}
            </a>
        {% elseif from_category is not empty %}
            <a href="{{ path('app_category_view', { 'slug': from_category }) }}" class="btn btn-secondary">
                <i class="fas fa-fw fa-arrow-left"></i>
                {{ tutorial.category.name }}
            </a>
        {% endif %}

        {% if can_edit %}
            <a href="{{ path('app_tutorial_delete', { 'id': tutorial.id }) }}" class="btn btn-danger float-right" data-bootstrap="modal">
                <i class="fas fa-fw fa-trash"></i>
                {{ 'datalist.actions.delete'|trans }}
            </a>
            <a href="{{ path('app_tutorial_update', { 'id': tutorial.id }) }}" class="btn btn-secondary float-right mr-1">
                <i class="fas fa-fw fa-pencil-alt"></i>
                {{ 'datalist.actions.update'|trans }}
            </a>
        {% endif %}
    </p>

    <div style="clear: both;"></div>

    <p class="text-right mt-3">
        <span class="badge badge-secondary tutorial-big-badges">
            <i class="fas fa-fw fa-lock{{ not tutorial.locked ? '-open' }}"></i>
            {{ "tutorial.view.#{tutorial.locked ? 'locked' : 'unlocked'}"|trans }}
        </span>

        {% if not tutorial.visible %}
            <span class="badge badge-secondary mr-1 tutorial-big-badges">
                <i class="fas fa-fw fa-eye-slash"></i>
                {{ 'tutorial.view.invisible'|trans }}
            </span>
        {% endif %}
    </p>

    <h1 class="text-center mb-4">{{ tutorial.name }}</h1>
    <p class="text-center">{{ tutorial.description }}</p>

    <p class="text-center">
        {% if can_edit %}
            <a href="{{ path('app_step_create', { 'id': tutorial.id }) }}" class="btn btn-success" data-title="{{ 'tutorial.view.steps.add'|trans }}" data-toggle="tooltip">
                <i class="fas fa-fw fa-plus"></i>
            </a>

            {% if step is not null %}
                {% if tutorial.steps|length > 1 %}
                    {% if step_number != 1 %}
                        <a href="{{ path('app_step_move_prev', { 'id': step.id }) }}" class="btn btn-primary" data-title="{{ 'tutorial.view.steps.move_prev'|trans }}" data-toggle="tooltip">
                            <i class="fas fa-arrow-left tutorial-big-badges"></i>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-primary disabled" data-title="{{ 'tutorial.view.steps.move_prev'|trans }}" data-toggle="tooltip">
                            <i class="fas fa-arrow-left tutorial-big-badges"></i>
                        </button>
                    {% endif %}

                    {% if step_number != tutorial.steps|length %}
                        <a href="{{ path('app_step_move_next', { 'id': step.id }) }}" class="btn btn-primary" data-title="{{ 'tutorial.view.steps.move_next'|trans }}" data-toggle="tooltip">
                            <i class="fas fa-arrow-right tutorial-big-badges"></i>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-primary disabled" data-title="{{ 'tutorial.view.steps.move_next'|trans }}" data-toggle="tooltip">
                            <i class="fas fa-arrow-right tutorial-big-badges"></i>
                        </button>
                    {% endif %}
                {% endif %}

                <a href="{{ path('app_step_update', { 'id': step.id }) }}" class="btn btn-secondary" data-title="{{ 'tutorial.view.steps.update'|trans }}" data-toggle="tooltip">
                    <i class="fas fa-fw fa-pencil-alt"></i>
                </a>

                <a href="{{ path('app_step_delete', { 'id': step.id }) }}" class="btn btn-danger" data-bootstrap="modal" data-title="{{ 'tutorial.view.steps.delete'|trans }}" data-toggle="tooltip">
                    <i class="fas fa-fw fa-trash"></i>
                </a>
            {% endif %}
        {% endif %}
    </p>

    {% if tutorial.steps|length == 0 %}
        <div class="alert alert-info">{{ 'tutorial.view.no_steps'|trans }}</div>
    {% else %}
        <h3 class="mt-5 mb-3 text-center">
            {% if tutorial.steps|length > 1 %}
                {% if step_number != 1 %}
                    <a href="{{ path('app_tutorial_view', { 'id': tutorial.id, 'stepNumber': step_number - 1 }) }}" data-title="{{ 'tutorial.view.steps.prev'|trans }}" data-toggle="tooltip"><i class="fas fa-fast-backward tutorial-big-badges"></i></a>
                {% else %}
                    <i class="fas fa-fast-backward tutorial-big-badges text-muted" data-title="{{ 'tutorial.view.steps.prev'|trans }}" data-toggle="tooltip"></i>
                {% endif %}
            {% endif %}

            <button class="btn btn-link disabled tutorial-big-badges">
                <i class="fas fa-fw fa-shoe-prints"></i>
                <br />
                {{ step_number }} / {{ tutorial.steps|length }}
            </button>

            {% if tutorial.steps|length > 1 %}
                {% if step_number != tutorial.steps|length %}
                    <a href="{{ path('app_tutorial_view', { 'id': tutorial.id, 'stepNumber': step_number + 1 }) }}" data-title="{{ 'tutorial.view.steps.next'|trans }}" data-toggle="tooltip"><i class="fas fa-fast-forward tutorial-big-badges"></i></a>
                {% else %}
                    <i class="fas fa-fast-forward tutorial-big-badges text-muted" data-title="{{ 'tutorial.view.steps.next'|trans }}" data-toggle="tooltip"></i>
                {% endif %}
            {% endif %}
        </h3>

        {{ step.content|raw }}
    {% endif %}

{% endblock body %}

{% block extra_stylesheets %}
    {{ encore_entry_link_tags('tutorial-view') }}
{% endblock extra_stylesheets %}

{% block extra_javascript %}
    {{ encore_entry_script_tags('tutorial-view') }}
{% endblock extra_javascript %}
