{% extends 'layout.html.twig' %}

{% block body %}

    <h1 class="mb-4">{{ 'contact.create.title'|trans }}</h1>

    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_row(form.author) }}
        {{ form_row(form.content, { 'attr': { 'rows': 12 } }) }}

        <p>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-fw fa-check"></i>
                {{ 'contact.create.submit'|trans }}
            </button>
        </p>
    {{ form_end(form) }}

{% endblock body %}
