{% macro flash_messages() %}
    {% for type, messages in app.flashes %}
        {% if type == 'success' %}
            {% set icon = 'check' %}
        {% elseif type == 'danger' %}
            {% set icon = 'ban' %}
        {% else %}
            {% set icon = type %}
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <i class="fas fa-fw fa-{{ icon }}"></i>&nbsp;
                {{ message|trans|raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro flash_messages %}

{% macro nav_link(link, label, icon) %}
    <li class="nav-item {{ is_active_path(link) ? 'active' : '' }}">
        <a class="nav-link" href="{{ link }}">
            <i class="fas fa-fw fa-{{ icon }}"></i>
            {{ label }}
        </a>
    </li>
{% endmacro nav_link %}

{% macro modal(id, header, body, ok, cancel) %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{ id|default('modal') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ header|default('Confirm') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ body|default('Are you sure ?') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-ban fa-fw"></i>
                        {{ cancel|default('Cancel') }}
                    </button>
                    <button type="button" class="btn btn-primary" data-accept="modal">
                        <i class="fas fa-check fa-fw"></i>
                        {{ ok|default('Ok') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro modal %}

{% macro os_icon(brand_name) %}
    {% set icon = null %}
    {% if 'Windows' in brand_name %}
        {% set icon = 'windows' %}
    {% elseif 'Mac' in brand_name or 'iOS' in brand_name %}
        {% set icon = 'apple' %}
    {% elseif 'Linux' in brand_name %}
        {% set icon = 'linux' %}
    {% elseif 'Ubuntu' in brand_name %}
        {% set icon = 'ubuntu' %}
    {% elseif 'Android' in brand_name %}
        {% set icon = 'android' %}
    {% endif %}

    {% if icon is not null %}
        <i class="fab fa-fw fa-{{ icon }}"></i>
    {% endif %}
{% endmacro os_icon %}

{% macro device_icon(device_name) %}
    {% set icon = null %}
    {% if 'desktop' in device_name %}
        {% set icon = 'desktop' %}
    {% elseif 'phone' in device_name %}
        {% set icon = 'mobile' %}
    {% elseif 'tablet' in device_name %}
        {% set icon = 'tablet' %}
    {% elseif 'tv' in device_name %}
        {% set icon = 'tv' %}
    {% endif %}

    {% if icon is not null %}
        <i class="fas fa-fw fa-{{ icon }}"></i>
    {% endif %}
{% endmacro device_icon %}

{% macro browser_icon(browser_name) %}
    {% set icon = null %}
    {% if 'Firefox' in browser_name %}
        {% set icon = 'firefox' %}
    {% elseif 'Chrome' in browser_name %}
        {% set icon = 'chrome' %}
    {% elseif 'Opera' in browser_name %}
        {% set icon = 'opera' %}
    {% elseif 'Safari' in browser_name %}
        {% set icon = 'safari' %}
    {% elseif 'Internet Explorer' in browser_name %}
        {% set icon = 'internet-explorer' %}
    {% elseif 'Edge' in browser_name %}
        {% set icon = 'edge' %}
    {% endif %}

    {% if icon is not null %}
        <i class="fab fa-fw fa-{{ icon }}"></i>
    {% endif %}
{% endmacro browser_icon %}
