{% macro flash_messages() %}
    {% for type, messages in app.flashes %}
        {% if type == 'success' %}
            {% set icon = 'check' %}
        {% elseif type == 'danger' %}
            {% set icon = 'ban' %}
        {% else %}
            {% set icon = type %}
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <i class="fas fa-fw fa-{{ icon }}"></i>&nbsp;
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro flash_messages %}

{% macro nav_link(link, label, icon) %}
    <li class="nav-item {{ is_active_path(link) ? 'active' : '' }}">
        <a class="nav-link" href="{{ link }}">
            <i class="fas fa-fw fa-{{ icon }}"></i>
            {{ label }}
        </a>
    </li>
{% endmacro nav_link %}

{% macro modal(id, header, body, ok, cancel) %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{ id|default('modal') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ header|default('Confirm') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ body|default('Are you sure ?') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-ban fa-fw"></i>
                        {{ cancel|default('Cancel') }}
                    </button>
                    <button type="button" class="btn btn-primary" data-accept="modal">
                        <i class="fas fa-check fa-fw"></i>
                        {{ ok|default('Ok') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro modal %}
