{% from 'macros.html.twig' import nav_link %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_default_index') }}">
            <i class="fas fa-fw fa-question"></i>
            Ask Me Anything
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#user-nav" aria-controls="user-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="user-nav">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ nav_link(path('app_category_index'), 'category.navigation_label'|trans, 'folder-open') }}
                    {{ nav_link(path('app_user_index'), 'user.navigation_label'|trans, 'user') }}
                    {{ nav_link(path('app_contact_index'), 'contact.navigation_label'|trans, 'envelope') }}
                    {{ nav_link(path('app_tutorial_create'), 'tutorial.create.navigation_label'|trans, 'file-signature') }}
                {% elseif is_granted('ROLE_ADMIN') %}
                    {{ nav_link(path('app_tutorial_create'), 'tutorial.create.navigation_label'|trans, 'file-signature') }}
                {% else %}
                    {{ nav_link(path('app_contact_create'), 'contact.navigation_label'|trans, 'envelope') }}
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto mr-md-0">
                <li class="nav-item">
                    <a href="{{ path(is_granted('ROLE_ADMIN') ? 'app_security_logout' : 'app_security_login') }}" class="nav-link">
                        <i class="fas fa-fw fa-key"></i>
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ 'navigation.logout'|trans({ '%username%': app.user.username }) }}
                        {% else %}
                            {{ 'navigation.login'|trans }}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
